body {margin:0; font-family: "light 300 italic";}
/*
.navbar {
  overflow: hidden;
  background-color: #F6F4F3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index : 1;
  top: 0px;
  
  
}

.navbar a {
  float:right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  padding-right: 20px;
  
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
*/


.brand {
  float: left;
  padding-right: 500px;
  color: rgb(255, 38, 0);
  font-size: xx-large;
  padding-top: 6px;
  padding-left: 50px;
  padding: 20px;
 
}
/* sticky navbar end */


.span1{
  background-color: white;
  margin-top: 100px;
}

.topleft {
    float:center;
    color: #152238;
    padding: 20px 25px;
    font-size: 80px;
    top: 780px;
    
    padding-left: 340px;
    padding-top: 290px;
    text-decoration:underline;
}


.onimagetext {
  float:left;
    color: white;
   
    font-size:25px ;
    padding-left: 100px;
    padding-bottom: 20px;
   
    
    text-shadow: solid black 60px;
    
} 

.bg-img {
   
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/551/729/non_2x/shaking-hands-flat-design-concept-handshake-business-agreement-partnership-concepts-two-hands-of-businessman-shaking-vector-illustration-on-blue-urban-city-background.jpg");
 
  
    min-height: 710px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
    /* Needed to position the navbar */
  
  }
  
  /* Position the navbar container inside the image */
  
  
  
  /* The navbar */
  
  /* Navbar links */
  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 30px;
    padding-right: 80px;
  }
  
  .topnav a:hover {

    color: skyblue
    background-color: #ddd;
    color: #152238;
    
    align-items: center;
   
  }
  
  .btn {
      position: absolute;
      top: 70%;
      left: 43%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: white;
      border-radius:25px;
      border: 2.5px solid white;
     
      color: #152238;
      font-size: 25px;
      padding: 20px 30px;
     
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
    }
    
    .btn:hover  {
      background-color: #e6d1f2;
    }
     .btn1 {
          position: absolute;
          top: 70%;
          left: 58%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          background-color:transparent;
          border: 2.5px solid #152238;
          border-radius:25px;
          color: #152238;
          font-size: 25px;
          padding: 20px 30px;
         
          cursor: pointer;
          border-radius: 5px;
          text-align: left;
          
        }
        
         .btn1:hover  {
          background-color: white;
        }

        * {
            box-sizing: border-box;
          }
          
          .column {
            float: left;
            width: 33.33%;
            padding: 4.5rem;
            
            justify-content: left;
            display:flex;
            
          }
          
          /* Clearfix (clear floats) */
          .row::after {
            content: "";
            clear: both;
            display: table;
          }


          .contain {
            position: relative;
            width: 50%;
          }
          
          .image {
            display: block;
            width: 365px;
            height: 300px;
           
            
          }
          
          .overlay {
            
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 365px;
            height: 300px;
            opacity: 0;
            transition: .5s ease;
            background-color: #fec107; }
          
          .contain:hover .overlay {
            opacity: 1;
          }
          
          .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }

          .benefits{

            float:center;
            font-size: 50px;
           
            padding-left: 32%;
            padding-top: 1%;
            color: #fec107;
          }

          .mySlides {display:none;
            width: 460px;
                height: 600px;
                position:absolute;
                bottom:0;
                border-radius: 10%;
                top: 1690px;
            
               
               
            
            } /*
            .w3-left, .w3-right, .w3-badge {cursor:pointer}
            .w3-badge {height:13px;width:13px;padding:0} */
            
            .bgslide{
                background:#fec107;
                height: 529px;
                padding-bottom: 350px;
                background-position-y: 80%;
                padding-top:2px;
                border-radius: 5%;
                
            
            }
            
            .navi {
              padding-left: 750px;
              padding-top: 1px;
              color: #152238;
              
            }
            .navinp {
              padding-left: 748px;
              padding-top: 100px;
              color: #152238;
              
              
            }

 .flex-container {
            display: flex;
            background-color: #495057;
            justify-content: space-evenly;
            align-items:center;
        }
        .ASA {
            font-size: 35px;
            text-align: left;
            color: white;
            padding-top: 60px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .tag {
            font-size: 20px;
            color: white;
            padding-bottom: 60px;
        }
        .vl {
            border-left: 3px solid grey;
            height: 160px;
        }
        .flex-container {
            border: 2px solid #495057;
            
        }
        .section4, .section5, .section6 {
            padding: 10px;
            margin: 10px;
            font-size: 16px;
            background-color: #495057;
            color: white;

        }

        .flex-container1 {
          border: 2px solid none;
          display: flex;
          background-color: none;
          justify-content: space-around;
          align-items:center;
          
      }

        .section1, .section2, .section3 {
          padding-bottom:5px;
          padding-right: 40px;
          margin: 5px;
          font-size: 16px;
          background-color: none;
          color: black; 
          text-align: justify;
          text-align: center;
        
        }


        .benefitsheading {
          font-size: 30px;
          color:rgb(255, 38, 0);
          font-weight: 500;
        }
        
        .benefitspoints {
     
        }


          .intro {
           
            text-align: justify;
           padding-left: 370px;
           padding-right: 370px;
           background-color: none;
           border-radius:5%;
            
          }


          .intropoints{
            
            text-align: justify;
            list-style-type:square;
          }


          .bgbenefits {
            background-color: NONE;
            border-radius: 5%;
          
          } 


          .introtwo {
           
            text-align: justify;
           padding-left: 370px;
           padding-right: 370px;
           background-color: #A9E5BB;
           border-radius:5%;
           
          
           
            
          }


          .intropointstwo{
            
            text-align: justify;
            list-style-type:square;
          }


          .headingintro{
            color:#2D1E2F;
            font-size: 50px;
          }

          .slideintext { 
            font-family: 'Open Sans', 'sans-serif';
            color: white;
            background: none;
            overflow: hidden;
           
            
          }
          
          .item-1, 
          .item-2, 
          .item-3 {
            position: absolute;
            display:block;
            top: 23.5em;
            
            width: 75%;
            
            font-size: 25px;
          
            animation-duration: 15s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
          }
          
          .item-1{
            align:center;
            animation-name: anim-1;
            padding-right: 45px;
          }
          
          .item-2{
            align:center;
            animation-name: anim-2;
            padding-right: 20px;
          }
          
          .item-3{
            padding-right: 20px;
            align:center;
            animation-name: anim-3;
          }
          
          @keyframes anim-1 {
            0%, 8.3% { left: -100%; opacity: 0; }
            8.3%,25% { left: 25%; opacity: 1; }
            33.33%, 100% { left: 110%; opacity: 0; }
          }
          
          @keyframes anim-2 {
            0%, 33.33% { left: -100%; opacity: 0; }
            41.63%, 58.29% { left: 25%; opacity: 1; }
            66.66%, 100% { left: 110%; opacity: 0; }
          }
          
          @keyframes anim-3 {
            0%, 66.66% { left: -100%; opacity: 0; }
            74.96%, 91.62% { left: 25%; opacity: 1; }
            100% { left: 110%; opacity: 0; }
          }
